SESSION_ID=
OWNER_NUMBER=256740162827
OWNER_NAME=Gods Zeal †
BOT_NAME=𝐆𝐎𝐃𝐒𝐙𝐄𝐀𝐋 𝐗𝐌𝐃
PACKNAME=𝐆𝐎𝐃𝐒𝐙𝐄𝐀𝐋 𝐗𝐌𝐃
AUTHOR=‎Gods Zeal †
COMMAND_MODE=private
STATUS_REACT_EMOJI=✅,⚽,👀❤️‍🔥,💥,🕳️,💙,💚,💛,🧡
AUTO_STATUS_REACT=true
AUTO_TYPING=false
AUTO_RECORDING=false
AUTO_BIO=false
AUTO_BIO_TEXT=GODSZEAL XMD Active Now
GIPHY_API_KEY=qnl7ssQChTdPjsKta2Ax2LMaGXz303tq
